<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Kurssit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
	
<style>
.center {
  margin: auto;
  width: 75%;
}
</style>
</head>
<body>
	<div class="center" style="padding: 30px">
		<h1>Minun kurssini</h1>

		<div class="row justify-content-between">
			<div class="col-4">
				<h3 class="text-muted" th:inline="text">Tervetuloa
					[[${#httpServletRequest.remoteUser}]]</h3>
			</div>
			<div class="col-4">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Kirjaudu ulos"
						class="btn btn-outline-danger" />
				</form>
			</div>
		</div>
		<div >
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th>Kurssi</th>
						<th>Opintopisteet</th>
						<th>Aloitus pvm</th>
						<th>Lopetus pvm</th>
						<th>Arvosana</th>
						<th sec:authorize="hasAuthority('ADMIN')"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="course : ${courses}">
						<td th:text="${course.name}"></td>
						<td th:text="${course.credit}"></td>
						<td th:text="${course.startDate}"></td>
						<td th:text="${course.endDate}"></td>
						<td th:text="${course.grade.grade}"></td>
						<td><a th:href="@{/edit/{id}(id=${course.id})}"
							class="btn btn-outline-secondary">Muokkaa</a></td>
						<td sec:authorize="hasAuthority('ADMIN')"><a
							th:href="@{/delete/{id}(id=${course.id})}"
							class="btn btn-outline-danger">Poista</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="padding-bottom: 30px; padding-left: 30px;">
			<a href="/addcourse" class="btn btn-outline-success">Lisää uusi kurssi</a>
		</div>
		<div class="row justify-content-center">
		<div class="col-4">
		<div class="alert alert-success" role="alert" style="width: 220px; text-align: center">
			<h6>Opintopisteet yhteensä</h6>
			<p th:text="${totalcredit}"></p>
		</div>
		</div>
		<div class="col-4">
		<div class="alert alert-success" role="alert" style="width: 220px; text-align: center">
			<h6>Keskiarvo</h6>
			<p th:text="${#numbers.formatDecimal(avggrade, 1, 'DEFAULT', 1, 'DEFAULT')}"></p>
			
		</div>
		</div>
		</div>
	</div>
</body>
</html>